{{!-- 
<div class="teamName" style="width: 300px; height: 400px; background: yellow">{{name}}</div>
<button class="deleteCard" style="width: 100px; height: 40px; border: 1px solid black">Delete</button>

{{#if login}}
{{#each heroes.hero}}
<div class="teamName" style="width: 300px; height: 400px: background: yellow">{{name}}</div>
{{/each}}
{{else}}

{{/if}} --}}
<button class="btn btn-outline-success me-2" id="bye" type="button" style="margin-left: 500px; margin-top: 20px; background: yellow; color: red">Покинуть поле боя</button>


<div class="cards" style="margin-left: 50px">
  {{#each heroes}}
  <div class="card hero" style="width: 14rem; margin: 30px; width: 200px; height: 300px">
    <img src="{{this.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="nameH card-title">{{this.name}}</h5> 
      <!-- class="card-title" -->
      <p class="card-text">{{this.superpower}}</p>
      <button class="btn btn-outline-success me-2 deleteCard" type="button" style="margin-top: 300px">Удалить героя</button>
    </div>
  </div>
  {{/each}}
